.headnav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 105px;
    align-items: center;
    min-width: 100%;
    
    gap: 200px;
    margin: 0px 40px 0px 40px;
    box-sizing: border-box;

}
.title{
    display: flex;
width: 324.784px;
height: 48.663px;
flex-direction: column;
justify-content: center;
box-sizing: border-box;
/* border: 1px solid black; */
flex-shrink: 0;
 
color:  #2D3845;

/* Heading/Heading 2 */
font-size: 26px;
font-family: Inter;
font-weight: 700;
}
.profile-section{
display: flex;
justify-content: space-between;
align-items: center;
gap: 58.2px;
}
.searchbox{
    display: flex;
    /* width: 216.528px; */
    height: 48px;
    padding: 2px 42px 2px 4px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    justify-content: space-between;
    border-radius: 12px;
    background:  #FCFCFC ;
    
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
}
.searchbox>img{
    width: 32px;
height: 32px;
}
.searchbox>input{
    outline: none;
    border: none;
}
.icons{
display: flex;
justify-content: space-between;
gap: 34px;
align-items: center;

}
.icons>:nth-child(1){
    width: 25.322px;
height: 36.267px;
cursor: pointer;
}
.icons>:nth-child(2){
    width: 25.322px;
    height: 36.267px;
cursor: pointer;
}
.icons>:nth-child(3){
    width: 47.479px;
    height: 68px;
cursor: pointer;
}