@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.outerbox {
  width: 100vw;
  height: 1447px;
  border: 1px solid red;
  display: flex;
  box-sizing: border-box;
}
.sidebar {
  width: 317.169px;
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.info1outerbox{
  display: flex;
justify-content: end;
margin-top: 13px;
}
.info1{
  display: flex;
  flex-direction: column;
justify-content: end;
gap: 15px;
/* height: 120px; */
/* border: 1px solid black;  */
}